.eazyhacks_footer
{
     position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: darkgrey;
   color: white;
   text-align: center;
}

.body-bg
{
   background-color : #8a9cff;
}

body
{
   background-color : #9f788d;
}

.menu-bg
{
   background-color: #ffefd2;
}

.hide-element
{
   visibility: hidden;
   height: 0px;
}

.thumbnail
{
   background: #ffefd2;
}

.panel:hover
{
   transform: scale(1.05);
   background-color: lightgray;
}


.thumbnail:hover
{
   transform: scale(1.05);
   background-color: lightgray;
}