.eazyhacks_footer
{
     position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: darkgrey;
   color: white;
   text-align: center;
}

.body-bg
{
   background-color : #9f788d;
}

body
{
   background-color : #9f788d;
}

.menu-bg
{
   background-color: #b8afb4;
}

.hide-element
{
   visibility: hidden;
}