{% extends 'base.html' %}

{% block main %}
{% load staticfiles %}
<script type="text/babel" src="{% static "addhack_react_components.js" %}"></script>
<script src="{% static "hack_jquery.js" %}"></script>

<div id="hacks_layout"></div>

<form action="." method="post" name="HackForm" id="HackForm">
{% csrf_token %}
<div class="container">
<div class="form-group">
<button type="submit" class="btn btn-success form-control" style="margin-top: 10px;">Save to Database</button>
<input type="text" class="hide-element" id="HackDetails" name="HackDetails">
</div>
</div>
</form>
{% endblock %}