<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EazyHacks - View life changing Hacks at a one stop spot</title>
</head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "site_css.css" %}>
<script src="https://fb.me/react-0.14.3.js"></script>
<script src="https://fb.me/react-dom-0.14.3.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body class="body-bg">

{% if username_set == False %}
<script src="{% static "login_jquery.js" %}"></script>
{% endif %}

<nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <div class="navbar-header">
                          <a class="pull-left" href="#"><img src="{% static 'site_logo.png' %}" height="35" width="100" style="padding-top: 5px"/></a>
                        </div>
                        <div>
                        <ul class="nav navbar-nav">
                          <li class="active"><a href="{% url "login" %}">Home</a></li>
                          <li><a href="#">Collections</a></li>
                          <li><a href="{% url "add_hack" %}">Add</a></li>
                        </ul>
                        <ul class="nav navbar-nav" style="float:right">
                          <li><a href="#">Hi there {{ username }}</a></li>
                        </ul>
                        </div>
                      </div>
</nav>

<div id="image_box_layout"></div>

{% block main %}

{% endblock %}

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

</body>

</html>