<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EazyHacks - View life changing Hacks at a one stop spot</title>
</head>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "site_css.css" %}>
<script src="https://fb.me/react-0.14.3.js"></script>
<script src="https://fb.me/react-dom-0.14.3.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<body class="body-bg">

{% if username_set == False %}
<script src="{% static "login_jquery.js" %}"></script>
{% endif %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="pull-left" href="#"><img src="{% static 'site_logo.png' %}" height="35" width="100" style="padding-top: 5px"/></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
                          <li><a href="{% url "login" %}">Home</a></li>
                          <li><a href="{% url "browse_hack" 0 %}">Browse Hacks</a></li>
                          <li><a href="{% url "add_hack" %}">Add Hacks</a></li>
                          <li><a href="#" data-toggle="modal" data-target="#AboutModal">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ username }}</a></li>
            <li><a href="{% url "logout" %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="modal fade" id="AboutModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">About EazyHacks</h4>
        </div>
        <div class="modal-body">
          <p>Developed by Pranav Sharan. You can reach out to me at prnvshrn@gmail.com or my phone 480-652-2917. If interested you can check the github link as well.(<u>https://github.com/prnvshrn/EazyHacks</u>)</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


{% block main %}

{% endblock %}


</body>

</html>