{% extends 'base.html' %}

{% block main %}

{% load staticfiles %}
<script>var soocer_image = "{% static "soccer.jpg" %}";</script>
<script>var soocer_caption = "Sports";</script>
<script>var kitchen_image = "{% static "kitchen.jpg" %}";</script>
<script>var kitchen_caption = "Kitchen";</script>
<script>var fitness_image = "{% static "dumbbells.jpg" %}";</script>
<script>var fitness_caption = "Fitness";</script>
<script>var gaming_image = "{% static "video_game.png" %}";</script>
<script>var gaming_caption = "Gaming";</script>
<script>var dailylife_image = "{% static "daily_life.jpg" %}";</script>
<script>var dailylife_caption = "Daily Life";</script>
<script>var miscellaneous_image = "{% static "miscellaneous.jpg" %}";</script>
<script>var miscellaneous_caption = "Miscellaneous";</script>
<script type="text/babel" src="{% static "react_components.js" %}"></script>

<div id="LoginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter Username to get started</h4>
      </div>
      <div class="modal-body">
         <form action="." method="post" id="LoginForm">
        {% csrf_token %}
        <div id="login_component"></div>
         </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success ModalButtonClose" style="width:100%" form="LoginForm">Submit</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}